
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

.imagem-fazenda{
    width:35%;
    background-image: linear-gradient(#fffff0,#fffdd0);
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.loja-titulo {
    padding: 24px 0;
}

body{
    font-family:’Poppins’,sans-serif;
}

.produto-imagem{
    width: 120px;
}

.preco-icone{
    width: 24px;
} 

.produto-div{
    text-aling: center;
}

.cabecalho-loja{
    width: 20%;
}

.cabecalho{
    background-color: #fffff0;
    color: red;
    display: flex;
    justify-content: space-around;
}

.produtos-titulo{
    test-aling: center;
    pading: 50px 0;
}

.estudante-todos{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
}

footer{
    backgroun-color: yellow;
    padding: 15px 0;
    text-aling: center;
}
