header{
    background-color: #fffff0;
    color: black;
    display:flex;
    justify-content: space-around;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

.imagem-fazenda{
    width:35%;
    background-image: linear-gradient(#fffff0,#fffdd0);
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.loja-titulo {
    padding: 24px 0;
}

body{
    font-family:’Poppins’,sans-serif;
}

.produto-imagem{
    width: 120px;
}

.preco-icone{
    width: 24px;
} 

.produto-div{
    text-aling: center;
}
